---
import Layout from "@layouts/Layout.astro";
---

<Layout>

    <main>
    
        <div class="container">
            <svg class="back" width="960" height="540"></svg>
            <canvas class="front" width="960" height="540"></canvas>
        </div>
    
        <img class="image" />

        
    </main>

</Layout>

<script src="./script.js"></script>

<style>
    main {
        background-color: black;
        display: flow-root;
    }
    .container {
        margin-block: 50px;
        margin-inline: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        outline: 1px solid gray;
        width: fit-content;

        * {
            display: block;
            grid-row-start: 1;
            grid-column-start: 1;
        }
    }

    .image {
        display: block;
        margin: 20px auto;
        border: 1px solid gray;
    }
</style>