---
import LineSVGTest from "@components/react/test/Line/LineSVGTest";
import Layout from "@layouts/Layout.astro";
import LineCanvasTest from "@react/test/Line/LineCanvasTest";


---


<Layout title="Line test">

    <main>

        <h1>Canvas</h1>
    
        <LineCanvasTest client:only />
    
        <h1>SVG</h1>
    
        <LineSVGTest client:only />

    </main>

</Layout>

<style>
    main {
        padding-block: 50px;

        h1 {
            text-align: center;
            color: #fff;
            font-family: monospace, sans-serif;
            font-size: 50px;
        }
    }
</style>