---
import Layout from "@layouts/Layout.astro";

const links = [
    '/test/2d/angle',
    '/test/2d/arrow',
    '/test/2d/line',
    '/test/2d/plot',
    '/test/2d/point-with-proyections',
    '/test/2d/point'
];
---

<Layout>

    <main>
    
        <ul>
            {
                links.map((link) => {

                    return <li>
                        <a href={link}>{link}</a>
                    </li>
                })
            }
        </ul>
    
    </main>

</Layout>

<style>
    main {
        background-color: black;
        display: flow-root;
        padding: 20px;

        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            list-style: none;

            a {
                font-size: 20px;
                text-decoration: none;
                letter-spacing: 2px;
                color: white;

                &:hover {
                    color: aqua;
                }
            }
        }
    }

</style>